@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 transition-colors duration-200 antialiased;
    @apply dark:bg-slate-900 dark:text-gray-100;
    width: 400px;
    /* Standard extension width */
    min-height: 500px;
  }

  html.dark {
    color-scheme: dark;
  }
}