@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 transition-colors duration-200 antialiased;
    @apply dark:bg-slate-900 dark:text-gray-100;
    width: 400px;
    /* Standard extension width */
    min-height: 500px;
  }

  html.dark {
    color-scheme: dark;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rainbow {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.ludicrous-mode {
  animation: rainbow 2s linear infinite;
}

.ludicrous-mode .timer-display {
  animation: spin 0.6s linear infinite;
}